<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="au.com.roadhouse.licensehelper.library">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".LicenseListActivity"
            android:label="@string/internal_label_title"
            android:theme="@style/LicenseHelper.Internal.AppTheme"/>
        <activity
            android:name=".WebLinkViewerActivity"
            android:label="@string/internal_label_title"
            android:theme="@style/LicenseHelper.Internal.AppTheme"/>

    </application>

</manifest>
